PORT=8000
MONGO_URI=
JWT_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6ImNoZXRhbiIsImlhdCI6MTc2OTAwMzE5NiwiZXhwIjoxNzY5MDA2Nzk2fQ.ZXlKaGJHY2lPaUpJVXpJMU5pSXNJblI1Y0NJNklrcFh"
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_URL=http://localhost:5173
CLIENT_URL=http://localhost:3000
PRODUCTION_SERVER_URL=

